$mainWhite: #eff;
$mainOrange: #e84d15;
$shadowOrange: #5d1f08;

body {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    text-align: center;
    margin: 0 0 20px;
    font-size: 20px;
    text-transform: uppercase;
    background: $shadowOrange;
    color: $mainWhite;
    line-height: 42px;
}

.wrapper {
    padding: 0 20px;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1;

    &__bar-content {
        display: block;
        background: $mainOrange;
        height: 50px;
        color: $mainWhite;
        padding: 0 20px;
        box-sizing: border-box;

        span {
            line-height: 50px;
            font-size: 38px;
            text-transform: uppercase;
            padding: 5px;
            background: #fff;
            color: $mainOrange;
        }
    }
}

.highlight {
    position: relative;
    margin: 20px 0;
    picture{
        img {
            display: block;
            width: 100%;
        }
    }
    &__title {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: rgba(#fff, 0.5);
        text-transform: uppercase;
        font-size: 35px;
        text-align: center;
        min-width: 80%;
    }
}

.article {
    position: relative;
    margin-bottom: 20px;
    p {
        font-size: 16px;
        line-height: 22px;
        margin: 0 0 25px;
        &:last-child {
            margin: 0;
        }
    }

    video,
    audio {
        width: 100%;
        margin-bottom: 20px;
        outline: none;
    }
}

.team {
    padding: 20px 0;
    margin-bottom: 20px;
    border-top: 1px solid #112211;
    border-bottom: 1px solid #112211;

    &__member {
        position: relative;
        display: block;
        margin-bottom: 20px;

        &__avatar {
            picture {
                display: block;
            }

            img {
                display: block;
                width: 150px;
                height: 150px;
                margin: 0 auto;
                border: 5px solid #eee;
                border-radius: 50%;
            }
        }
        

        &__description {
            background: #eee;
            padding: 50px 10px 20px;
            margin: -40px 0 0;
            p {
                font-size: 16px;
                line-height: 20px;
                margin: 0 0 15px;
                &:last-child {
                    margin: 0;
                }
            }
        }
    }
}

.footer {
    position: sticky;
    height: 50px;
    bottom: 0;
    background: #000;
    overflow: hidden;

    &__menu {
        margin: 0 auto;
        padding: 0;
        background: #fff;
        display: table;

        &__item {
            width: 100px;
            border-top: 2px solid $mainOrange;
            background: #222;
            float: left;
            height: 50px;
            box-sizing: border-box;
            list-style-type: none;

            a {
                background: transparent;
                text-transform: uppercase;
                color: $mainOrange;
                line-height: 50px;
                text-decoration: none;
                font-weight: bold;
                display: block;
                text-align: center;
                height: 50px;
                box-sizing: border-box;
            }
        }
    }
}

@media (min-width: 768px) {
    h2 {
        font-size: 24px;
        line-height: 50px;
    }

    .wrapper {
        width: 700px;
        margin: 0 auto;
    }

    .highlight {
        &__title {
            font-size: 40px;
        }
    }

    .article {
        p {
            font-size: 20px;
            line-height: 26px;
        }
    }

    .team {
        &__member {
            &__description {
                padding: 50px 20px 30px;
                p {
                    font-size: 20px;
                    line-height: 24px;
                }
            }
        }
    }
}

@media (min-width: 993px) {
    h2 {
        font-size: 30px;
        line-height: 56px;
    }

    .wrapper {
        width: 900px;
        margin: 0 auto;
    }

    .highlight {
        &__title {
            font-size: 50px;
        }
    }
}

@media (min-width: 993px) {

    .wrapper {
        width: 900px;
        margin: 0 auto;
    }
}



@media (min-width: 1200px) {

    .wrapper {
        width: 1100px;
        margin: 0 auto;
    }
}